<div class="main-container">
    <div class="form-container mat-elevation-z8">
      <h1>Login page</h1>
      <form class="form" [formGroup]="logForm">
        <div class="form-fields">




          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="Enter your email"
              formControlName="email"
            />
            <mat-error
              class="mat-error"
              *ngIf="logForm.controls['email'].hasError('required')"
            >
              Required
            </mat-error>
            <mat-error
              class="mat-error"
              *ngIf="
                !logForm.controls['email'].hasError('required') &&
                logForm.controls['email'].hasError('email')
              "
            >
              Enter a valid email
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Password</mat-label>
            <input
              matInput
              placeholder="Choose your password"
              formControlName="password"
            />
            <mat-error
              class="mat-error"
              *ngIf="logForm.controls['password'].hasError('required')"
            >
              Required
            </mat-error>
          </mat-form-field>
          <a class="link" routerLink="/auth/registration">Go to registration form</a>
  
        </div>
        <button
          mat-raised-button
          color="primary"
          class="submitButton"
          (click)="loginUser()"
        >
          Log In
        </button>
      </form>
    </div>
  </div>
  