.close {
  position: absolute;
  right: 80px;
  font-family: Roboto;
  font-size: 15px;
  text-transform: uppercase;
  color: #3F51B5;
  font-weight: 700;
}

.delete {
  position: absolute;
  right: 10px;
  font-family: Roboto;
  font-size: 15px;
  text-transform: uppercase;
  color: #3F51B5;
  font-weight: 700;
}
