$fontRegular: rgb(17, 8, 95);
$backgroundListItem: #f7f7f7;
$backgroundListItemChosen: #11085f33;
$backgroundListItemHovered: #11085f33;
$backgroundGroupCard: #0b83f354;
$backgroundGroupCardChosen: #0b83f39e;
$backgroundGroupCardHovered: #0b83f39e;
