.main {
  position: relative;
}

.for-go-back-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50px;
  left: 0;
  width: 4vw;
  padding: 5px;
}

.for-go-back-button .goBackButton {
  background-color: rgb(231, 56, 56);
}

.container-header {
  margin: auto;
}

.container-header h2 {
  text-align: center;
  font-size: 26px;
  font-family: Kanit;
}

.sub-container {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90vw;
  height: 80vh;
  padding: 50px 0;
}

.sub-container .container-left-side {
  position: relative;
  width: 90vw;
  height: 75vh;
}

.sub-container .container-left-side .tasted-title {
  text-align: center;
}

.sub-container .container-left-side .list {
  margin: auto;
  width: 90vw;
  height: 60vh;
  overflow: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.sub-container .container-left-side .list mat-card img {
  width: 200px;
  height: 250px;
}

.sub-container .container-left-side .list .example-card {
  margin-top: 2px;
  margin-left: 2px;
  width: 20vw;
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  position: relative;
}

.sub-container .container-left-side .list .example-card .container-for-drink-info {
  width: 10vw;
  height: 30vh;
  // background-color: aqua;
}

.sub-container .container-left-side .list .example-card .container-for-drink-info mat-card-title,
mat-card-subtitle {
  text-align: left;
}

.sub-container .container-left-side .list .example-card .container-for-drink-info .rating {
  color: #FFC107;
  font-size: 20px;
}

.sub-container .container-left-side .list .example-card .mat-menu-container {
  position: absolute;
  top: 0;
  right: 0;
}

.reviews {
  position: absolute;
  bottom: 60px;
}

h3 {
  width: 100%;
  font-size: 1.6em;
}

.listOfFind {
  overflow: auto;
}

.findDrink {
  height: 35vh;
  margin-bottom: 10px;
}

.findDrink .item {
  font-size: 20px;
}

.findDrink .item:hover {
  cursor: pointer;
}

.textarea {
  resize: none;
  border: none;
  background: none;
}

.modal-body {
  display: block;
}

.modal-body .container-for-degustation span {
  font-size: 18px;
  font-weight: bold;
}

.modal-body .container-for-rating {
  margin-top: 15px;
}

.modal-body .container-for-rating span {
  font-size: 18px;
  font-weight: bold;
}

.modal-body .container-for-rating .rating {
  color: #FFC107;
  font-size: 20px;
}

.modal-body .container-for-feedback {
  margin-top: 15px;
}

.modal-body .container-for-feedback span {
  font-size: 18px;
  font-weight: bold;
}

.description-about-drink {
  padding-top: 10px;
  text-align: center;
}

.description-about-drink span {
  font-size: 18px;
  font-weight: bold;
}

.description-about-drink .type-of-drink {
  color: grey;
  font-size: 18px;
}

.container-for-feedback textarea {
  resize: none;
  background: none;
  border: none;
}

.modal-mat-menu {
  position: absolute;
  top: 0;
  right: 0;
}

.container-right-side {
  position: relative;
  width: 26vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.feedBack {
  width: 100%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.infAboutDrink {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.infAboutDrink h3 {
  width: 100%;
  font-size: 1.6em;
}

.infAboutDrink p {
  font-size: 16px;
}

.infAboutDrink .image-container img {
  width: 150px;
  height: 200px;
}

.infAboutDrink .description-about-drink {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

mat-form-field {
  width: 98%;
  height: 8vh;
}

mat-form-field textarea {
  resize: none;
}

ngb-rating {
  color: #FFC107;
  font-size: 30px;
  margin-bottom: 15px;
}

.button-edit {
  position: absolute;
  top: 5px;
  left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-edit-check {
  position: absolute;
  top: 50px;
  right: 5px;
  // margin-top: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(10, 197, 10);
}

.button-back {
  background-color: rgb(231, 56, 56);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.button-add {
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
}


@media (max-width: 991px) {
  .main .sub-container {
    display: block;
  }

  .main .sub-container .container-left-side {
    width: 50vw;
    margin: auto;
  }

  .main .sub-container .container-right-side {
    width: 50vw;
    margin: 10px auto;
  }

  .main .sub-container .container-right-side .feedBack .infAboutDrink .description-about-drink {
    width: 200px;
  }

  .main .sub-container .container-right-side .feedBack .infAboutDrink p {
    font-size: 12px;
  }

  .main .sub-container .container-right-side .feedBack .infAboutDrink .image-container img {
    width: 150px;
    height: 200px;
  }

  .main .sub-container .container-right-side .feedBack .button-edit-check {
    width: 10vw;
  }

  .main .sub-container .container-left-side .four-buttons .button-back {
    width: 10.4vw;
  }
}

@media (max-width: 450px) {
  .main .sub-container .container-left-side {
    width: 90vw;
  }

  .main .sub-container .container-right-side {
    width: 90vw;
  }

  .main .sub-container .container-right-side .feedBack .button-edit-check {
    width: 25vw;
  }
}
