<app-main-header></app-main-header>
<div class="main">
  <div class="for-go-back-button">
    <button class="go-back-button" mat-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>

  <div class="container-header">
    <h2>My Drinks</h2>
  </div>
  <div class="sub-container">
    <div class="container-left-side">
      <h3 *ngIf="!isAdd">Drinks I've tasted</h3>
      <h3 *ngIf="isAdd">Type the name of the drink</h3>

      <div *ngIf="!isAdd" class="list">
        <p
          *ngFor="let drink of myTastedDrinks; let i = index"
          (click)="selectAndGetDrink(drink)"
          [ngClass]="{ selectedItem: drink === selectedTastedDrink }"
          class="item"
        >
          <mat-card class="example-card">
            <mat-card-title>
              {{ drink.name }}
            </mat-card-title>
            <img mat-card-image [src]="drink.image" />
            <mat-card-subtitle
              >{{ drink.type }}, rating: {{ drink.rating }}</mat-card-subtitle
            >
            <div class="delete-button-container">
              <button
                mat-raised-button
                color="accent"
                class="delete-drink"
                (click)="delete($event, drink)"
              >
                Delete
              </button>
            </div>

            <mat-card-actions>
              <button
                mat-button
                class="open-arrow"
                (click)="upAndDropArrows($event)"
              >
                <mat-icon *ngIf="isArrowDown">keyboard_arrow_down</mat-icon>
                <mat-icon *ngIf="!isArrowDown">keyboard_arrow_up</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </p>
      </div>

      <div class="findDrink" *ngIf="isAdd">
        <mat-form-field appearance="fill">
          <mat-label>Type the drink</mat-label>
          <input matInput placeholder="Search" (input)="searchDrinks($event)" />
        </mat-form-field>

        <div class="listOfFind">
          <p
            *ngFor="let drink of matchingDrinks; let i = index"
            class="item"
            (click)="selectAndGetDrink(drink)"
            [ngClass]="{ selectedItem: drink === selectedTastedDrink }"
          >
            {{ i + 1 }}. {{ drink.title }}
          </p>
        </div>
      </div>

      <div class="four-buttons">
        <button
          class="button-add"
          mat-raised-button
          color="primary"
          (click)="onAdd()"
          *ngIf="!isAdd && !isEdit"
        >
          <mat-icon>search</mat-icon>
        </button>

        <button
          class="button-back"
          mat-raised-button
          *ngIf="isAdd || isEdit"
          (click)="backToMyDrinks()"
        >
          Back
        </button>
      </div>
    </div>

    <div class="container-right-side">
      <div class="feedBack" *ngIf="!isAdd">
        <div class="infAboutDrink">
          <div class="image-container" *ngIf="myTastedDrinkFullInfo?.image">
            <img [src]="myTastedDrinkFullInfo?.image" alt="" />
          </div>
          <div
            class="description-about-drink"
            *ngIf="myTastedDrinkFullInfo?.image"
          >
            <h3>
              {{ myTastedDrinkFullInfo?.typeOfDrink }}
              {{ myTastedDrinkFullInfo?.name }}
            </h3>
            <p><strong>Region:</strong> {{ myTastedDrinkFullInfo?.region }}</p>
            <p>
              <strong>Manufacturer:</strong>
              {{ myTastedDrinkFullInfo?.manufacturer }}
            </p>

            <p *ngIf="myTastedDrinkFullInfo?.category">
              <strong>Category:</strong>
              <span *ngFor="let category of myTastedDrinkFullInfo?.category">
                {{ category }}
              </span>
            </p>
            <p *ngIf="myTastedDrinkFullInfo?.type">
              <strong>Type:</strong> {{ myTastedDrinkFullInfo?.type }}
            </p>
            <p *ngIf="myTastedDrinkFullInfo?.grape">
              <strong>Grape:</strong> {{ myTastedDrinkFullInfo?.grape }}
            </p>
            <p *ngIf="myTastedDrinkFullInfo?.filtration">
              <strong>Filtration:</strong>
              {{ myTastedDrinkFullInfo?.filtration }}
            </p>
            <p>
              <strong>Alcohol:</strong> {{ myTastedDrinkFullInfo?.strength }}%
            </p>
            <p>
              <strong>Volume:</strong> {{ myTastedDrinkFullInfo?.volume }} liter
            </p>
            <p>
              <strong>Date of degustation: </strong
              >{{ tableResult?.dateOfDegustation | date: "yyyy-MM-dd" }}
            </p>
            <p><strong>My rating: </strong>{{ tableResult?.rating }}</p>
            <p><strong>My feedback: </strong> {{ tableResult?.feedBack }}</p>
          </div>
        </div>

        <div *ngIf="isEdit">
          <mat-form-field appearance="outline" class="example-form-field">
            <mat-label>Choose a date</mat-label>
            <input
              matInput
              [min]="minDate"
              [max]="maxDate"
              [matDatepicker]="datepicker"
              (dateChange)="onChangeEvent($event)"
              disabled
            />
            <mat-datepicker-toggle
              [disabled]="false"
              matSuffix
              [for]="datepicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #datepicker [disabled]="false">
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDatepickerApply>
                  Apply
                </button>
              </mat-datepicker-actions>
            </mat-datepicker>
          </mat-form-field>

          <ngb-rating
            [readonly]="false"
            [resettable]="false"
            (rateChange)="onRateChange($event)"
          ></ngb-rating>

          <form #feedBackForm="ngForm">
            <mat-form-field appearance="outline">
              <mat-label>Leave a comment</mat-label>
              <textarea
                matInput
                [(ngModel)]="addUpdateFeedBackModel.feedBack"
                rows="2"
                required
              >
              </textarea>
              <mat-error class="mat-error" *ngIf="!isAdd && isEdit">
                Field are empty, please entry feed back
              </mat-error>
            </mat-form-field>

            <button
              class="button-edit-check"
              mat-raised-button
              (click)="update()"
              *ngIf="isEdit"
            >
              Save review
            </button>
          </form>
        </div>
        <button
          class="button-edit"
          mat-raised-button
          color="accent"
          (click)="onEdit()"
          *ngIf="!isAdd && !isEdit"
        >
          Open to edit
        </button>
      </div>
    </div>
  </div>
</div>
