<div class="component-wrapper">  
  <header>
    <div class="button-wrapper">
      <button mat-fab (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <h2>My Drinks</h2>
  </header>
  <mat-card class="mat-elevation-z4">
    <app-my-drink
      (onAdd)="showAddDrinkComponent()"
      (onEdit)="showEditDrinkComponent($event)"
      *ngIf="isMyDrinks"
    ></app-my-drink>
    <app-add-drink
      *ngIf="isAdd"
      (onReturnToMyDrinks)="showMyDrinkComponent()"
      (onAddToTastedStack)="showEditDrinkComponent($event)"
      (onCreateNewDrink)="showCreateDrinkComponent()"
    ></app-add-drink>
    <app-edit-drink
      *ngIf="isEdit"
      (onReturnToMyDrinks)="showMyDrinkComponent()"
      [drinkForAddingToStack]="drinkForAddingToStack"
    ></app-edit-drink>
    <app-create-drink
      *ngIf="isCreate"
      (onReturnToAddDrink)="showAddDrinkComponent()"
    ></app-create-drink>
  </mat-card>
</div>


<!-- <main>
  <mat-card class="leftSide mat-elevation-z3">

      <section class="contentSection">
        
      </section>

  </mat-card>

  <mat-card class="rightSide mat-elevation-z3">
      <section class="contentSection">

      </section>

  </mat-card>
</main> 


@import "src/globalStyles/template.scss";
@import "src/globalStyles/colors.scss";

main {
  width: 100%;

  .leftSide {
    @include containerWithTwoSides-left();
  }

  .rightSide {
    @include containerWithTwoSides-right();
  }
}
-->
