.main {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;

  .goBackButton {
    position: absolute;
    top: 105px;
    left: 9px;
    background-color: rgb(231, 56, 56);
  }

  .container-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;

    h2 {
      font-size: 26px;
      margin-top: 10px;
    }
  }

  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 65vw;
    height: 80vh;

    .container-left-side {
      position: relative;
      width: 30vw;
      height: 67vh;
      display: flex;
      flex-direction: column;
      padding: 0 10px;
      box-shadow: 1px 1px 5px 1px black;

      h3 {
        width: 100%;
        font-size: 1.6em;
      }

      .list {
        // background-color: red;
        height: 50vh;
        overflow: auto;
        padding-right: 10px;

        .item {
          font-size: 17px;
        }

        .item:hover {
          cursor: pointer;
        }

        .selectedItem {
          width: 100%;
          background-color: #00000021;
        }

        .example-card {
          width: 100%;
          position: relative;

          .delete-button-container {
            position: absolute;
            top: 10px;

            .delete-drink {
              background-color: red;
            }
          }
        }

        mat-card img {
          margin: auto;
          width: 150px;
          height: 200px;
        }

        mat-card mat-card-title {
          text-align: center;
        }

        mat-card mat-card-subtitle {
          text-align: center;
          margin-top: 5px;
        }
      }

      .listOfFind {
        overflow: auto;
      }

      .findDrink {
        height: 35vh;
        margin-bottom: 10px;

        .item {
          font-size: 20px;
        }

        .item:hover {
          cursor: pointer;
        }
      }

      .four-buttons {
        position: absolute;
        bottom: 3px;
        width: 13vw;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .button-back {
          background-color: rgb(231, 56, 56);
        }

        .button-add,
        .button-edit,
        .button-back,
        .button-edit-check {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 6vw;
          height: 5vh;
          margin: 5px 0;
          color: white;
        }
      }
    }

    .container-right-side {
      position: relative;
      width: 30vw;
      height: 67vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      box-shadow: 1px 1px 5px 1px black;

      .feedBack {
        width: 100%;
        height: 98%;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .infAboutDrink {
          display: flex;
          justify-content: space-around;
          align-items: center;

          h3 {
            width: 100%;
            font-size: 1.6em;
          }

          p {
            font-size: 16px;
          }

          .image-container img {
            width: 250px;
            height: 300px;
          }

          .description-about-drink {
            width: 300px;
          }
        }

        mat-form-field {
          width: 98%;
          height: 8vh;

          textarea {
            resize: none;
          }
        }

        ngb-rating {
          color: #FFC107;
          font-size: 30px;
          margin-bottom: 15px;
        }

        .button-edit {
          position: absolute;
          bottom: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 7vw;
          height: 6vh;
        }

        .button-edit-check {
          position: absolute;
          bottom: 10px;
          margin-top: 30px;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 6vw;
          height: 5vh;
          background-color: rgb(10, 197, 10);
        }
      }
    }
  }
}
