<app-main-header></app-main-header>
<div class="main">
  <button class="go-back-button" mat-fab (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <div class="header">
    <h2>Groups</h2>
  </div>

  <div class="container">
    <div class="container-left-side">
      <h3>My groups</h3>
      <div class="group-block" (click)="toInitState()">First group</div>
      <div class="group-block" (click)="toInitState()">Second group</div>
      <div class="group-block" (click)="toInitState()">Third group</div>
      <div class="group-block" (click)="toInitState()">Fourth group</div>
      <div class="group-block" (click)="toInitState()">Fivth group</div>

      <div class="button-container">
        <button
          mat-raised-button
          color="accent"
          class="join-group"
          (click)="onJoin()"
        >
          Join group
        </button>

        <button mat-raised-button color="accent" class="join-group">
          Leave group
        </button>

        <button
          mat-raised-button
          color="accent"
          class="join-group"
          (click)="onCreate()"
        >
          Create group
        </button>
      </div>
    </div>
    <div class="container-right-side">
      <div *ngIf="!isJoin && !isCreate">
        <h3>Information about group</h3>
      </div>
      <div *ngIf="isJoin">
        <h3>Find group for join</h3>

        <mat-form-field appearance="fill">
          <mat-label>Search groups</mat-label>
          <input matInput placeholder="Type the title of group" (input)="searchGroups($event)"/>
        </mat-form-field>
      </div>
      <div *ngIf="isCreate">
        <h3>Create new group</h3>
        <mat-form-field appearance="fill">
          <mat-label>New group</mat-label>
          <input matInput placeholder="Type the title of new group" />
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
