<app-main-header></app-main-header>
<div class="main">
  <button class="go-back-button" mat-fab (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <div class="header">
    <h2>Groups</h2>
  </div>

  <div class="main-container">
    <div class="container-left-side">
      <div class="left-container">
        <div
          class="groups-list"
          *ngFor="let group of getGroupResult; let i = index"
        >
          <mat-card class="group-block" (click)="toInitState(group)">
            {{ group.groupName }}
            <button
              mat-raised-button
              color="primary"
              class="details"
              (click)="detailsButton($event)"
            >
              Details
            </button>
          </mat-card>
        </div>

        <div class="button-container">
          <button
            mat-raised-button
            color="accent"
            class="join-group"
            (click)="onJoin()"
          >
            Join group
            <mat-icon>group</mat-icon>
          </button>

          <button mat-raised-button color="accent" class="join-group">
            Leave group
          </button>

          <button
            mat-raised-button
            color="accent"
            class="join-group"
            (click)="onCreate(); triggerModal(modalData)"
          >
            Create group
            <mat-icon>group_add</mat-icon>
            <ng-template #modalData let-modal>
              <div class="modal-body">
                <div *ngIf="isCreate" class="create-container">
                  <h3>Create new group</h3>
                  <mat-form-field appearance="fill">
                    <mat-label>New group</mat-label>
                    <input
                      matInput
                      placeholder="Please enter the name of the group"
                      [(ngModel)]="groupsShort.groupName"
                      [(ngModel)]="defaultValue"
                      required
                    />
                    <mat-error class="mat-error" *ngIf="isCreate"
                      >Please enter group name</mat-error
                    >
                  </mat-form-field>
                  <button
                    mat-raised-button
                    class="create"
                    (click)="openCreateGroupDialog(); modal.close('Save click')"
                  >
                    Create
                    <mat-icon>create</mat-icon>
                  </button>
                </div>
              </div>
            </ng-template>
          </button>
        </div>
      </div>
    </div>

    <!-- <div class="container-right-side">
      <div *ngIf="!isJoin && !isCreate">
        <div class="title">
          <h3>Information about group</h3>
        </div>

        <div class="description-about-group" *ngIf="selectedGroup">
          <div class="first-small-container">
            <div class="group-name-title">
              <h2>{{ selectedGroup.groupName }}</h2>
            </div>

            <p>participant 1</p>
            <p>participant 2</p>
            <p>participant 3</p>
            <p>participant 4</p>
          </div>

          <div
            class="second-small-container"
            *ngFor="let group of getGroupResult; let i = index"
          >
            <div class="rating-container">
              <p>
                drink and
                {{ group.createAt }}
              </p>
              <p>
                Total rating:
                <button mat-raised-button color="primary">view</button>
              </p>
            </div>

            <div class="plan-new-degustation">
              <button mat-raised-button color="primary">
                plan new degustation
              </button>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="isJoin">
        <h3>Find group for join</h3>

        <mat-form-field appearance="fill">
          <mat-label>Search groups</mat-label>
          <input
            matInput
            placeholder="Type the title of group"
            (input)="searchGroups($event)"
          />
        </mat-form-field>
      </div>

      <div *ngIf="isCreate" class="create-container">
        <h3>Create new group</h3>
        <mat-form-field appearance="fill">
          <mat-label>New group</mat-label>
          <input
            matInput
            placeholder="Please enter the name of the group"
            [(ngModel)]="groupsShort.groupName"
            [(ngModel)]="defaultValue"
            required
          />
          <mat-error class="mat-error" *ngIf="isCreate"
            >Please enter group name</mat-error
          >
        </mat-form-field>
        <button mat-raised-button class="create" (click)="createNewGroup()">
          Create
          <mat-icon>create</mat-icon>
        </button>
      </div>
    </div> -->
  </div>
</div>
