.main {
  position: relative;
}

.for-go-back-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50px;
  left: 0;
  width: 4vw;
}

.for-go-back-button .go-back-button {
  background-color: rgb(231, 56, 56);
}

.header {
  font-size: 26px;
  margin: auto;
  text-align: center;
}

.main-container {
  width: 90vw;
  height: 75vh;
  margin: auto;
  position: relative;
}

.main-container .container-left-side {
  position: relative;
  width: 90vw;
  height: 89.2vh;
}

.main-container .container-left-side .left-container {
  padding-top: 10px;
  width: 73.2vw;
  height: 75vh;
  overflow: auto;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: auto;
}

.main-container .container-left-side .groups-list {
  margin: 0 5px;
}

.main-container .container-left-side .group-block {
  width: 450px;
  height: 200px;
  position: relative;
  margin: 3px 0;
  font-size: 18px;
  font-size: Kanit;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-container .container-left-side .group-block:hover {
  cursor: pointer;
}

.main-container .container-left-side .details {
  position: absolute;
  right: 0;
  bottom: 0;
  background: none;
  border: none;
  font-family: Roboto;
  font-size: 15px;
  text-transform: uppercase;
  color: #3F51B5;
  font-weight: 700;
}

.modal-body {
  position: relative;
}

.modal-body .create-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
}

.create-container h3 {
  margin: auto;
  font-size: 26px;
  font-family: Kanit;
  text-align: center;
  margin-bottom: 10px;
}

.modal-body .create-container mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.modal-body .create {
  background: none;
  border: none;
  padding: 0;
  font-family: Roboto;
  font-size: 15px;
  text-transform: uppercase;
  color: #3F51B5;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  right: 12px;
}

.cancel {
  position: absolute;
  background-color: red;
  top: -15px;
  right: -15px;
}

.container-right-side {
  width: 450px;
  height: 300px;
  // background-color: aqua;
}

.container-right-side .title h3 {
  font-size: 26px;
  font-family: Kanit;
  text-align: center;
}

.container-right-side .description-about-group {
  width: 465px;
  height: 270px;
  display: flex;
  justify-content: space-around;
}

.container-right-side .description-about-group .group-name-title h2 {
  font-size: 26px;
  font-family: Kanit;
}

.container-right-side .description-about-group .group-name-title p {
  font-size: 16px;
}

.container-right-side .description-about-group .first-small-container {
  width: 450px;
}

.first-small-container mat-card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container-right-side .second-small-container {
  position: relative;
  width: 200px;
}

.container-right-side .view {
  background: none;
  border: none;
  font-family: Roboto;
  font-size: 15px;
  text-transform: uppercase;
  color: #3F51B5;
  font-weight: 700;
}

.container-right-side .second-small-container .rating-container p {
  margin-top: 43px;
}

.container-right-side .second-small-container p {
  font-size: 16px;
}

.container-right-side .first-small-container .plan-new-degustation {
  position: absolute;
  bottom: 5px;
  right: 23px;
}

.container-right-side .first-small-container .plan-new-degustation button {
  background: none;
  border: none;
  padding: 0;
  font-family: Roboto;
  font-size: 15px;
  text-transform: uppercase;
  color: #3F51B5;
  font-weight: 700;
}

.degustations {
  width: 10vw;
  background-color: greenyellow;

  .rating-container {
    background-color: blueviolet;
  }
}

.create-container {
  mat-form-field {
    width: 15vw;
    margin-right: 10px;
  }
}

.modal-window-container .join-group {
  position: absolute;
  bottom: 90px;
  left: 165px;
  background: none;
  border: none;
  padding: 0;
  font-family: Roboto;
  font-size: 15px;
  text-transform: uppercase;
  color: #3F51B5;
  font-weight: 700;
}

.modal-window-container .leave-group {
  position: absolute;
  bottom: 60px;
  left: 165px;
  background: none;
  border: none;
  padding: 0;
  font-family: Roboto;
  font-size: 15px;
  text-transform: uppercase;
  color: #3F51B5;
  font-weight: 700;
}

.create-group {
  position: absolute;
  right: 0px;
  bottom: 130px;
}

.close-window {
  background-color: red;
  position: absolute;
  top: -15px;
  right: -15px;
}
