.main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  // min-height: 94vh;
  // background-color: aqua;
}

.main h2 {
  font-size: 26px;
  margin-top: 10px;
}

.main .go-back-button {
  position: absolute;
  top: 105px;
  left: 9px;
  // background-color: rgb(231, 56, 56);
}

.main .header {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 45px;
}

.main-container {
  display: flex;
  width: 90vw;
  flex-grow: 1;
  // background-color: rgb(233, 195, 168);
  justify-content: center;
}

.main-container .container-left-side {
  position: relative;
  width: 90vw;
  height: 89.2vh;
}

.main-container .container-left-side .left-container {
  width: 73.2vw;
  height: 75vh;
  overflow: auto;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: auto;
}

.main-container .container-left-side .groups-list {
  margin: 0 5px;
}

.main-container .container-left-side .group-block {
  width: 450px;
  height: 200px;
  position: relative;
  margin: 3px 0;
  font-size: 18px;
  font-size: Kanit;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-container .container-left-side .group-block:hover {
  cursor: pointer;
}

.main-container .container-left-side .details {
  position: absolute;
  right: 0;
  top: 0;
}

.button-container {
  background-color: bisque;
  position: absolute;
  bottom: 5px;
  width: 30vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}


.container-right-side {
  width: 30vw;
  box-shadow: 1px 1px 5px 1px black;
  padding: 0 5px;
  // background-color: aqua;

  .title {
    // background-color: greenyellow;
  }

  .description-about-group {
    width: 28vw;
    display: flex;
    justify-content: space-around;
    // background-color: green;

    .group-name-title {
      // background-color: aqua;
    }

    .first-small-container {
      width: 12vw;
      // background-color: brown;

    }

    .second-small-container {
      position: relative;
      width: 15vw;
      // background-color: blueviolet;

      .plan-new-degustation {
        position: absolute;
        bottom: 2px;
      }
    }
  }

  .degustations {
    width: 10vw;
    background-color: greenyellow;

    .rating-container {
      background-color: blueviolet;
    }
  }

  .create-container {

    mat-form-field {
      width: 15vw;
      margin-right: 10px;
    }


  }
}
