.container {
    display: flex;
    height: 100vh;
    flex-direction: column;

    .sub-container {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 8em;
        padding-top: 1em;
        padding-right: 7em;

        .section {
            width: 42%;
            height: 42%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: .4em 1em 1em;
            box-sizing: border-box;

            h2 {
                text-align: center;
            }
        }
    }
}
