<div class="dashoardContainer">

  <div class="drinks-container paragraphContainer" routerLink="/drinks">
    <h2>My Drinks</h2>
  </div>

  <div class="groups-container paragraphContainer" routerLink="/groups">
    <h2>Groups</h2>
  </div>

<!--   <div class="events-container paragraphContainer">
    <h2>My Events</h2>
    <button mat-raised-button color="primary" routerLink="/events" disabled>
      Details
    </button>
  </div>

  <div class="library-container paragraphContainer">
    <h2>Library</h2>
    <button mat-raised-button color="primary" routerLink="/library" disabled>
      Details
    </button>
  </div> -->
</div>
