<app-main-header></app-main-header>
<div class="container">
  <div class="sub-container">
    <div class="section mat-elevation-z6">
      <h2>My Drinks</h2>
      <button mat-raised-button color="primary" routerLink="/drinks">
        Details
      </button>
    </div>

    <div class="section mat-elevation-z6">
      <h2>Groups</h2>
      <button mat-raised-button color="primary" routerLink="/groups">
        Details
      </button>
    </div>

    <div class="section mat-elevation-z6">
      <h2>My Events</h2>
      <button mat-raised-button color="primary" routerLink="/events" disabled>
        Details
      </button>
    </div>

    <div class="section mat-elevation-z6">
      <h2>Library</h2>
      <button mat-raised-button color="primary" routerLink="/library" disabled>
        Details
      </button>
    </div>
  </div>
</div>
