<app-main-header></app-main-header>
<div class="main-container">
  <div class="sub-container">
    <div class="drinks-container" routerLink="/drinks">
      <h2 class="drinks-title">My Drinks</h2>
      <!-- <button
        mat-raised-button
        routerLink="/drinks"
        class="details"
      >
        Details
      </button> -->
    </div>

    <div class="groups-container" routerLink="/groups">
      <h2 class="groups-title">Groups</h2>
      <!-- <button
        mat-raised-button
        
        class="groups"
      >
        Details
      </button> -->
    </div>

    <div class="events-container">
      <h2>My Events</h2>
      <button mat-raised-button color="primary" routerLink="/events" disabled>
        Details
      </button>
    </div>

    <div class="library-container">
      <h2>Library</h2>
      <button mat-raised-button color="primary" routerLink="/library" disabled>
        Details
      </button>
    </div>
  </div>
</div>
