/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-menu-content {
  padding: 0 !important;
  background-color: none !important;
  display: flex;
  flex-direction: column;
}

button.mat-menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
}

.mat-menu-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  // min-height: 0 !important;
}

.modal-content {
  position: relative;
}

.cdk-overlay-container {
  z-index: 1500;
}

@media (max-width: 991px) {

  html {
    font-size: 55%;
  }

  button.mat-focus-indicator {
    display: flex;
    justify-content: center;
  }
}
