<div class="header">
  <h2>
    Hello <span>{{ user.firstName }} {{ user.lastName }}</span
    >. You are welcome!
  </h2>

  <div class="two-elements">
    <button mat-button [matMenuTriggerFor]="menu">
      <img src="./images/usa-isolated-flag-vector.jpg" />
    </button>

    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        style="display: flex; justify-content: center; align-items: center"
      >
        <img style="width: 70px" src="./images/usa-isolated-flag-vector.jpg" />
      </button>
      <button
        mat-menu-item
        style="display: flex; justify-content: center; align-items: center"
      >
        <img style="width: 70px" src="./images/russian-flag.png" />
      </button>
    </mat-menu>
    <button
      mat-raised-button
      color="accent"
      class="submitButton"
      (click)="logOut()"
    >
      Log out
    </button>
  </div>
</div>
<mat-drawer-container class="sidebar-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="search-container">
      <mat-form-field>
        <input
          matInput
          placeholder="Search"
          name="search"
          [(ngModel)]="search"
        />
      </mat-form-field>
      <div class="search-button">
        <button matSuffix mat-button><mat-icon>search</mat-icon></button>
      </div>
    </div>
    {{ search }}

    <div class="drink-type">
      <h2>Drink type</h2>
    </div>

    <div class="wine-select">
      <button type="button" mat-fab>
        <mat-icon>add</mat-icon>
      </button>
      <div class="add-wine">
        <p>Wine</p>
      </div>
    </div>

    <div class="whiskey-select">
      <button type="button" mat-fab>
        <mat-icon>add</mat-icon>
      </button>
      <div class="add-whiskey">
        <p>Whiskey</p>
      </div>
    </div>

    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <!-- use a disabled button to provide padding for tree leaf -->
        <button mat-icon-button disabled></button>
        {{node.name}}
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'Toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        {{node.name}}
      </mat-tree-node>
    </mat-tree>

    <mat-tree class="example-tree"
      ><mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
        Wine
      </mat-tree-node>
      <mat-nested-tree-node *matTreeNodeDef="let node">
        <div class="mat-tree-node">
          <button
            mat-icon-button
            matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name"
          >
            <mat-icon class="mat-icon-rtl-mirror"> Alcohol </mat-icon>
          </button>
          Whiskey
        </div>
        <div role="group">
          <ng-container matTreeNodeOutlet></ng-container>
        </div>
      </mat-nested-tree-node>
    </mat-tree>

    <div class="add-drink-button">
      <button
        type="button"
        mat-raised-button
        color="primary"
        (click)="openDialog()"
        class="add-drink"
      >
        Add drink
      </button>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
  </div>
</mat-drawer-container>
