.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  background-color: rgb(11, 131, 243);

  h2 {
    color: white;
    font-size: 25px;
    font-family: Kanit;

    span {
      color: rgb(228, 247, 59);
      text-shadow: 2px 1px 3px black;
    }
  }

  .submitButton {
    font-size: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    width: 140px;
  }
}

.sidebar-container {
  padding: 5px 0;
  width: 300px;
  height: 100%;
  box-shadow: 3px 1px 3px grey;

  .search-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .search-button {
      display: flex;
      justify-content: center;

      mat-icon {
        text-align: center;
      }
    }
  }
}
