<header class="header">
  <h2 class="greeting-container" *ngIf="user">
    Hi <span>{{ user.firstName }} {{ user.lastName }}</span>
  </h2>

  <h1 class="title">Tasting Club</h1>
<div class="message" *ngIf="user">
  <button mat-icon-button class="messageButton" routerLink="/messages">
    <mat-icon>mail</mat-icon>
  </button>
</div>
  <div class="menu">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="menuButton">
      <mat-icon>menu</mat-icon>
    </button>


    <mat-menu #menu="matMenu" >
      <section class="openedMenu">

        <button mat-menu-item class="openedMenuButton">
          <img src="./images/usa-isolated-flag-vector.jpg" />
        </button>
        <button mat-menu-item class="openedMenuButton">
          <img src="./images/russian-flag.png" />
        </button>
        <hr />
        <button
          *ngIf="user"
          mat-menu-item
          color="primary"
          class="openedMenuButton"
        >
          Profile
        </button>
  
        <button
          *ngIf="user"
          mat-menu-item
          color="accent"
          class="openedMenuButton"
          (click)="logOut()"
          >
          Log out
        </button>
      </section>
    </mat-menu>


  </div>
</header>
