.header {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  width: 100%;
  background-color: rgb(11, 131, 243);
  height: 56px;

  .greeting-container {
    // background-color: #2afcf2;
    position: absolute;
    left: 20px;

    h2 {
      width: 30vw;
      color: white;
      font-size: 25px;
      font-family: Kanit;
      margin-bottom: 0;

      span {
        color: rgb(228, 247, 59);
        text-shadow: 2px 1px 3px black;
      }
    }
  }

  .title {
    width: 30vw;
    // background-color: aquamarine;
    text-align: center;

    span {
      color: white;
      font-size: 25px;
      font-family: Kanit;
      text-shadow: 0px 1px 15px #2afcf2;
    }
  }

  .two-elements {
    position: absolute;
    right: 20px;
    // background-color: gold;

    img {
      width: 40px;
    }

  }
}
